.axis .domain {
	display: none;
}
.bar{
	cursor: pointer;
}
.donut{
	cursor: pointer;
}
.toolTip {
	position: absolute;
	display: none;
	min-width: 50px;
	height: auto;
	background: none; 
	border: 2px solid #6F257F;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}
#data1,#data5{
	display: inline;
	font: 11px sans-serif;
	margin-left: 20px;
	font-weight: bold;
}
html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
.divchart  {
	font: 10px sans-serif; 
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
	display: inline-block;
}
button{
	display: block;
	border-style: none;
	background-color: white;
	cursor: pointer;
}
button:hover{
	/* color: grey; */
	color : #dc6daa;
}

#LetterDiv{
	margin-left: 700px;
	margin-right: 50px;
	position: absolute;
	top: 600px;
	right: 10px;
	height:66.67vh;
	width:60%;
	min-height:150px;
	overflow: scroll;
	max-height: 600px;
}
/* #LetterDivTitle{
	margin-left: 400px;
	margin-right:100px;
	position: relative;;
	top:0px;
	right: 0px;
	height: 50px;
} */
.ButtonDiv{
	position: relative;
	overflow: scroll;
	max-height: 600px;
}
.open {
	display: block;
}
.closed {
	display: none;
}
ul{
	overflow: scroll;
	max-height: 600px;
}
li {
	list-style-type: none;
	padding-top: .2em;
	padding-bottom: .2em;
	font-size: 18px;
}       
li img {
	vertical-align: middle;
	cursor: pointer;
}
.zc-ref {
    display: none;
}