.axis .domain {
	display: none;
}
.bar{
	cursor: pointer;
}
.donut{
	cursor: pointer;
}
.toolTip {
	position: absolute;
	display: none;
	min-width: 50px;
	height: auto;
	background: none; 
	border: 2px solid #6F257F;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}
#data1,#data5{
	/*display: inline;*/
	font: 11px sans-serif;
	margin-left: 20px;
	font-weight: bold;
}
html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	font-family: 'Merriweather';
}
.divchart  {
	font: 10px sans-serif; 
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
	display: inline-block;
}

/* ------------------ List of Letters ------------------ */

.openLetterButton{
	display: block;
	border-style: none;
	background-color: white;
	cursor: pointer;
	font-size: 12px;
}
.openLetterButton:hover{
	/* color: grey; */
	color : #dc6daa;
}

.ButtonDiv{
	display: none;
	position: relative;
	overflow: scroll;
	max-height: 600px;
	/*max-width: 400px;*/
}
.open {
	display: block;
}
.closed {
	display: none;
}
ul{
	overflow: scroll;
	max-height: 600px;
}
li {
	list-style-type: none;
	padding-top: .2em;
	padding-bottom: .2em;
	font-size: 18px;
}       
li img {
	vertical-align: middle;
	cursor: pointer;
}
.zc-ref {
    display: none;
}

/* --------------------- Letter Div / Wordcloud Space ------------------- */

#LetterDiv{
	display: none;
	margin-left: 700px;
	margin-right: 50px;
	position: absolute;
	top: 600px;
	right: 160px;
	height: 66.67vh;
	width:60%;
	min-height:150px;
	overflow: scroll;
	/*max-height: 600px;*/
}

/* -------------------------- Loading Screen ---------------------------- */

#loader {
	position: absolute;
	left: 50%;
	top: 80%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #7b1fa2;
	border-right: 16px solid #5c6bc0;
	border-left: 16px solid #9575cd;
	border-bottom: 16px solid #9fa8da;
	width: 80px;
	height: 80px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

#quote{
	position: absolute;
	left: 30%;
	top: 90%;
	z-index: 1;
	margin: -40px 0 0 -40px;
	text-align: center;
	font-size: 50px;
	font-family: 'Meie Script', cursive;
}

#quoteAuthor{
	position: absolute;
	left: 70%;
	top: 97%;
	z-index: 1;
	margin: -40px 0 0 -40px;
	text-align: left;
	font-size: 25px;
	font-family: 'Meie Script', cursive;
}
  
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
  
  /* Add animation to "page content" */
.animateLoader {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
}
  
@-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 } 
	to { bottom:0px; opacity:1 }
}
  
@keyframes animatebottom { 
	from{ bottom:-100px; opacity:0 } 
	to{ bottom:0; opacity:1 }
}

/* --------------------------- Sidebar ---------------------------- */
 
#filterbar a{
	text-align: left;
	font-family: 'Merriweather';
	width: 300px;
	position: fixed;
	transition: 0.3s;
    /* z-index: 1; */
    top: 140px;
    right: -100px;
    background: #eee;
    overflow-x: hidden;
	padding: 20px;
	text-decoration: none;
    font-size: 20px;
    color: black;
	border-radius: 10px;
	cursor:default;
}

#filterbar a:hover{
	right: 10px;
}

#WCHeadline{
	font-size: 13px;
}

#WCTitle{
	font-size: 23px;
}

.break{
	border-bottom: 1px dotted  #7b1fa2;
}
#filterhead{
	font-size: 20px;
}
#filtersub{
	font-size: 13px;
}

.filterelement{
	display:none;
	font-size: 18px;
	border-style: none;
	background-color:  #5c6bc0;
	opacity: 1;
	cursor: pointer;
	border: none;
	border-radius: 20px;
    color: white;
	padding: 10px 15px;
	margin: 15px;
    text-align: center;
    text-decoration: none;
}

.filterelement:hover{
	opacity: 0.6;
}

.filterelement .tooltiptext{
	visibility: hidden;
	/* width: 80px; */
    background-color: #5c6bc0;
	color: #fff;
	font-size: 18px;
    text-align: center;
    border-radius: 20px;
	padding: 5px;

    /* Position the tooltip */
    position: absolute;
	z-index: 1;
}

.filterelement:hover .tooltiptext{
	visibility: visible;
}

@media screen and (max-height: 450px) {
    #sidenav {padding-top: 15px;}
}