html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
.divchart  {
	font: 10px sans-serif; 
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
	display: inline-block;
}
button{
	display: block;
	border-style: none;
	background-color: white;
	cursor: pointer;
}
button:hover{
	color: grey;
}
#LetterDiv{
	margin-left: 600px;
	margin-right: 100px;
	position: absolute;
	top: 700px;
	right: 20px;
	height:66.67vh;
	width:60%;
	min-height:150px;
}
/* #LetterDivTitle{
	margin-left: 400px;
	margin-right:100px;
	position: relative;;
	top:0px;
	right: 0px;
	height: 50px;
} */
.ButtonDiv{
	position: relative;
	overflow: scroll;
	max-height: 600px;
}
.open {
	display: block;
}
.closed {
	display: none;
}
li {
	list-style-type: none;
	padding-top: .2em;
	padding-bottom: .2em;
	font-size: 18px;
}       
li img {
	vertical-align: middle;
	cursor: pointer;
}
.zc-ref {
    display: none;
  }